html {
    margin: -8px;
    padding: -10px;
    box-sizing: border-box;
}

.home-page {
    background: #7b7b7b;
    min-height: 100vh;
}

.container-home {
    background: #7b7b7b;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    margin-left: 69px;
    margin-right: 38px;
}

.transform {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    &:hover {
        box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.76);
        transform: translateY(-10px);
    }
}

.navigation {
    width: 440px;
    margin-top: 30px;
    .avatar {
        margin-bottom: 50px;
        img {
            margin-right: 35.5px;
        }
        p {
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: #fff;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: #fff;
            text-align: center;
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 44px;
            img {
                margin-right: 20px;
            }
        }
    }
}

.information {
    width: 1400px;
    border-radius: 50px;
    background: #fff;
    margin-bottom: 38px;
    margin-top: 42px;
    .header {
        margin-bottom: 46px;
        margin-top: 55px;
        .search {
            width: 900px;
            border-radius: 42px;
            background: #f6f6f5;
            margin-left: 88px;
            img {
                margin-left: 40px;
            }
            input {
                width: 700px;
                background: #f6f6f5;
                height: 75px;
                border: 0;
                margin-left: 20px;
                font-size: 24px;
                outline: none;
            }
        }
        .notification-count {
            position: relative;
            border-radius: 22px;
            background: #8f93ff;
            left: 25px;
            width: 43px;
            height: 18px;
            p {
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin: -1px 13px;
            }
        }
        .lvl {
            margin-right: 46px;
        }
    }
    .courses {
        margin-bottom: 24px;
        .courses-photo {
            position: relative;
            .courses-photo-block {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 48px;
                .short-des {
                    position: relative;
                    border-radius: 20px;
                    background: #8f93ff;
                    width: 117px;
                    height: 45px;
                    top: 65px;
                    left: 190px;
                    p {
                        color: #fff;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 118.523%;
                        letter-spacing: -0.4px;
                        margin: 11px 20px;
                    }
                }
                #short-tagging,
                #short-tagging2 {
                    border-radius: 29px;
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 3px 3px 6px -1px rgba(255, 255, 255, 0.25);
                    backdrop-filter: blur(10px);
                    position: absolute;
                    color: #fff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 129.023%; /* 25.805px */
                    letter-spacing: 1.4px;
                    max-width: 460px;
                    top: 400px;
                    p {
                        margin-left: 20px;
                    }
                }
            }
        }
        h2 {
            color: #000;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 90px;
        }
    }
    .news {
        h2 {
            color: #000;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 90px;
            margin-bottom: 30px;
        }
        .news-selector {
            gap: 35px;
            .news-data {
                position: relative;
                border-radius: 19px;
                border: 2px solid #fff;
                width: 156px;
                height: 48px;
                bottom: 60px;
                background: rgba(255, 255, 255, 0.05);
                box-shadow: 3px 3px 6px -1px rgba(255, 255, 255, 0.55);
                p {
                    color: #fff;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 5px 10px;
                }
            }
        }
    }
    .news-article {
        border-radius: 69px;
        background: #7b7b7b;
        margin: 25px 20px;
        .article-photo {
            padding: 0;
            margin: 46px 20px 73px 46px;
            gap: 15px;
            img {
                border-radius: 48px;
                border: 7px solid #fb6d3a;
                margin-bottom: 20px;
            }
        }
        .article-text {
            color: #fff;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 46px 50px 60px 10px;
            h2 {
                margin: 0;
                color: #fb6d3a;
                font-size: 32px;
                &:last-child {
                    font-size: 26px;
                }
            }
        }
    }
}

.notification-block {
    position: absolute;
    width: 378px;
    height: 500px;
    border-radius: 19px;
    border: 2px solid #503e9d;
    background: #fff;
    right: 290px;
    top: 180px;
    b {
        color: #503e9d;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    .notification-element {
        border-radius: 16px;
        background: #d9d9d9;
        width: 320px;
        margin-bottom: 6px;
        img {
            border-radius: 40px;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
            margin-right: 8px;
            margin-left: 8px;
        }
        p {
            color: #503e9d;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-right: 16px;
        }
    }
}

.information-chat {
    width: 1400px;
    border-radius: 50px;
    background: #fff;
    margin-bottom: 38px;
    margin-top: 17px;
    header {
        width: 1200px;
        border-radius: 16px 16px 16px 0px;
        box-shadow: 0px 1px 2px 0px rgba(2, 17, 37, 0.12);
        margin-top: 24px;
        .chat-logotype {
            margin-left: 24px;
        }
        h1 {
            color: #0e1114;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin: 0 16px;
            margin-right: 80px;
        }
        .chat-header-userTo {
            b,
            p {
                color: #0e1114;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                margin-right: 5px;
            }
            p {
                font-weight: 400;
                margin-right: 480px;
            }
        }
        .chat-header-setting {
            margin: 0 30px;
            img {
                margin: 0 6px;
            }
        }
    }
    .chat-left-users {
        width: 350px;
        margin: 12px 24px 66px 24px;
        border-radius: 0px 0px 16px 16px;
        border-right: 1px solid #cdd5de;
        background: #fff;
        box-shadow: 6px 0px 16px 0px rgba(2, 17, 37, 0.04), 2px 0px 8px 0px rgba(2, 17, 37, 0.04),
            0px 0px 4px 0px rgba(2, 17, 37, 0.04);
        .chat-search {
            border-radius: 8px;
            border: 1px solid #cdd5de;
            background: #fff;
            margin: 12px 24px;
            height: 32px;
            img {
                margin: 0 10px;
            }
            input {
                height: 30px;
                border: 0;
                color: #8fa0af;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                outline: none;
            }
        }
        .chat-left-user {
            margin: 0 24px;
            img {
                padding-right: 8px;
            }
            .chat-left-userPlaceholder {
                margin-right: 8px;
                width: 180px;
                h3,
                h4 {
                    margin: 0;
                }
                h3 {
                    color: #0e1114;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                }
                h4 {
                    color: #616c76;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
            .chat-left-userDate {
                margin-top: 16px;
                p {
                    color: #8fa0af;
                    text-align: right;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    margin: 0;
                    padding: 0;
                }
                img {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 16px;
                }
            }
        }
    }
    .chat-right {
        width: 850px;
        margin-top: 20px;
        .chat-message-from {
            img {
                margin: 0;
                padding: 0;
                margin-right: 24px;
            }
            .message-form-from {
                max-width: 450px;
                margin-top: 24px;
                h3 {
                    margin: 0;
                    padding: 0;
                    color: #1d9745;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                }
                p {
                    border-radius: 16px 16px 16px 0px;
                    background: #eef1f4;
                    color: #0e1114;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    padding: 16px;
                    margin: 0;
                }
                span {
                    color: #616c76;
                    text-align: right;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .chat-message-to {
            .message-form-from {
                max-width: 450px;
                padding-top: 20px;
                margin-right: 24px;
                p {
                    border-radius: 16px 16px 0px 16px;
                    background: #e8f2fe;
                    box-shadow: 0px 0px 0px 1px rgba(219, 222, 223, 0.44);
                    padding: 16px;
                    margin: 0;
                }
                span {
                    color: #616c76;
                    text-align: right;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
        .chat-send-message-form {
            margin: 150px 24px 36px 124px;
            border-radius: 12px;
            border: 1px solid #cdd5de;
            width: 550px;
            background: #f8f9fa;
            input {
                color: #0e1114;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                padding: 12px;
                width: 500px;
                border: 0;
                outline: none;
            }
            .chat-send-icons {
                padding: 0px 24px;
                width: 500px;
                margin: 8px 0;
                img {
                    cursor: pointer;
                    margin-right: 12px;
                }
                button {
                    border-radius: 8px;
                    border: 1px solid #cdd5de;
                    background: #fff;
                    p {
                        color: #0e1114;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        margin: 6px 12px;
                    }
                }
            }
            .chat-outline {
                border-radius: 12px;
                border: 1px solid #cdd5de;
            }
        }
    }
}
.information-calendar {
    width: 1400px;
    border-radius: 50px;
    background: #fff;
    margin: 42px 0 38px;
    header {
        width: 1200px;
        margin: 32px 69px 36px 44px;
        h1 {
            color: #000;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin: 0;
            margin-bottom: 8px;
        }
        p {
            color: #000;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            margin-bottom: 4px;
        }
        img {
            margin: 0 38px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .calendar {
        width: 1260px;
        margin: 0 36px 44px 44px;
        .calendar-days {
            p {
                color: #000;
                text-align: center;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                margin: 0;
                width: 176px;
                text-align: end;
                margin-right: 20px;
            }
            .calendar-days-weekend {
                color: #fb6d3a;
            }
        }
        .calendar-blocks {
            div {
                border-radius: 25px;
                border-top: 3px solid #c7c7cc;
                border-bottom: 3px solid #c7c7cc;
                border-left: 3px solid #c7c7cc;
                background: #fff;
                width: 176px;
                height: 95px;
                p {
                    margin: 0;
                    margin-top: 10px;
                    margin-right: 20px;
                }
            }
            .calendar-month {
                p {
                    color: #000;
                    text-align: center;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .calendar-anotherMonth {
                p {
                    color: rgba(0, 0, 0, 0.5);
                    text-align: center;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            img {
                flex: 1;
                justify-content: flex-start;
                margin-top: 12px;
                margin-bottom: 12px;
                margin-right: 12px;
            }
        }
    }
}
