* {
    box-sizing: border-box;
    background: #fff;
    font-family: "Golos Text", sans-serif;
    margin: 0 auto;
}

.container {
    // border: 1px solid red;
    width: 1366px;
    height: 768px;
    margin-top: 60px;
}

.registration {
    width: 441px;
    display: flex;
    flex-direction: column;
    margin-right: 65px;
    margin-bottom: 111px;
    margin-top: 63px;
}

.hello-up {
    color: #1c1c1c;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.hello-down {
    color: #4b4b4b;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 27.5px;
}

.data-input-elem {
    border-radius: 13px;
    background: #f2f2f2;
    width: 364px;
    height: 52px;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}

.data-input-elem:last-child {
    margin-bottom: 23px;
}

.data-input-elem-btn {
    background: #1c1c1c;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.register-user {
    h2 {
        color: #1c1c1c;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
    }
}

.register-user-container {
    display: flex;
    width: 357.543px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    button {
        width: 166.272px;
        height: 52px;
        flex-shrink: 0;
        border-radius: 13px;
        border: 1px solid #1c1c1c;
    }
}

.rightSide {
    margin-bottom: 51px;
}

.star {
    margin: 0;
    border: 0;
    margin-top: 629.16px;
}

// .image {
//     width: 711px;
//     height: 667px;
//     flex-shrink: 0;
//     border-radius: 72px;
//     background: linear-gradient(180deg, #ff8a35 0%, #ffeb36 100%);
// }
